// imported first to override bootstrap defaults
@import "./variables";

// override bootstrap theme colors
@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";

$enable-negative-margins: true;

// adding new colors
$custom-colors: (
        "primary-light": $primary-light,
        "secondary-light": $secondary-light,
);

$theme-colors: map-merge($theme-colors, $custom-colors);

@import "~bootstrap/scss/bootstrap";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body,
#__next {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  background: $background;
}

#__next_page {
  overflow-x: hidden;
  padding-top: $navbarHeight;

  @include media-breakpoint-up(md) {
    &.authenticated {
      padding-left: $sidebarWidth;
    }
  }
}

a {
  text-decoration: none;
  color: inherit;
}

* {
  box-sizing: border-box;
}

h1 {
  text-align: center;
  color: white;
}

.round-button {
  margin: 5px;
  padding-right: 40px;
  padding-left: 40px;
  border-radius: 25px;
}

.onTop {
  z-index: 2000;
}

.cardContainer {
  display: block;
  width: 400px;
  margin: auto;
  padding: 50px;
  border-radius: 15px;
  box-shadow: 0 5px 10px rgb(65, 65, 65);
}
