html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}
h2 {
  margin: 0;
  color: #f96f5d;
}

* {
  box-sizing: border-box;
}
.cardWrapper {
  display: flex;
  height: 100vh;
  background-color: #a0ced9;
}
.cardContainer {
  position: relative;
  display: block;
  margin: auto;
  padding: 50px;
  width: 400px;
  background-color: white;
  border-radius: 15px;
  box-shadow: 0px 5px 10px #00000015;
  z-index: 1;
}
form {
  display: block;
}
input {
  width: 100%;
  background-color: #eeeeee;
  border: none;
  border-radius: 20px;
  padding: 10px;
  margin-top: 7px;
  margin-bottom: 7px;
  outline: none;
}
button {
  width: 100%;
  padding: 10px;
  margin-top: 7px;
  margin-bottom: 7px;
  text-align: center;
  font-weight: 700;
  color: #f96f5d;
  background-color: #fcd5ce;
  border: solid 1px #f96f5d;
  border-radius: 20px;
}

.cancelIcon {
  position: absolute;
  right: 15px;
  top: 15px;
}

.loginIcons {
  position: absolute;
  z-index: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}
