.card {
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.main {
  flex-grow: 1;
  padding-left: 20px;
  padding-right: 20px;
}

.header {
  display: flex;
  justify-content: space-between;
  background-color: transparent;
  border: none;
  margin: 0;

  & *:first-child {
    font-weight: bold;
    text-transform: capitalize;
  }
}

.subtitle {
  margin-top: 5px;
}

.authorLink {
  z-index: 5;
}
