@import "../styles/variables";

.card {
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  padding: 20px;
}

.header {
  flex-grow: 1;
  display: flex;
  justify-content: space-between;
  margin: 0;
  border: none;
  background-color: transparent;

  font-weight: bold;
  text-transform: capitalize;
}

.subtitle {
  margin-top: 5px;
}

.authorLink {
  z-index: 5;
}
