@import "src/client/styles/variables";

.control {
  border-top-color: transparent;
  border-left-color: transparent;
  border-right-color: transparent;
  margin-bottom: 30px;
}

.label {
  font-variant: small-caps;
  font-size: 1.25em;
}

.uploadPageTitle{
  color: $orange;
  text-align: center;
  margin-top: 4%;
}