//background colors
$bgc: #A0CED9;
//font colors
$black: #000000;
$grbk: #343434;
$white: #FFFFFF;
$orange: #F96F5D;
$orangec: #FCD5CE;
$bleu: #009FB7;
$grey: #808080;
$greyc: #EEEEEE;

//font sizes
$p1: 64px;
$p2: 48px;