@import "../variables";

.profileContainer {
  margin-bottom: 10px;
}

.title {
  text-align: center;
  margin-top: 4%;
  color: $primary;
}

.profileMainData {
  display: flex;
  gap: 30px;
  justify-content: start;
}

@media screen and (max-width: 767px) {
  .profileMainData {
    display: flex;
    flex-direction: column-reverse;
  }
}


.profileEdit {
  background: white;
  width: 100%;
  border-radius: 20px;
  overflow-y: auto;
  display: flex;
  justify-content: space-between;
  padding: 4%;
  scrollbar-color: $primary;

  svg {
    margin-bottom: 5px;
  }

  button {
    width: auto;
    height: fit-content;
    background: none;
    border: none;

    span {
      text-decoration: underline;

    }
  }

  .formProfil {
    width: 80%;
    display: flex;
    flex-direction: column;
    gap: 20px;

    .formInput {
      border-radius: 30px;

      &:disabled {
        background: white;
      }

      &::placeholder {
        color: $grey
      }
    }

    .formSubmitButton {
      width: fit-content;
      background: $secondary;
      color: white;
      text-decoration: none;
      margin: auto;
    }
  }
}

.profileEdit::-webkit-scrollbar-thumb {
  background: $primary;
  border-radius: 10px;
}

.profileEdit::-webkit-scrollbar {
  width: 10px;
  background: $greyc;
  border-radius: 10px;
}

