@import "../variables";

.profileContainer {
  min-height: 100vh;
}

.title {
  text-align: center;
  margin-top: 4%;
  color: $primary;
}


.profileMainData {
  display: flex;
  gap: 30px;
  justify-content: start;

}


.profileEdit {
  background: white;
  width: 100%;
  border-radius: 20px;
  overflow-y: auto;
  display: flex;
  justify-content: space-between;
  padding: 4%;
  scrollbar-color: $primary;

  svg {
    margin-bottom: 5px;
  }

  button {
    width: auto;
    height: fit-content;
    background: none;
    border: none;

    span {
      text-decoration: underline;

    }
  }

  .formProfil {
    width: 80%;
    display: flex;
    flex-direction: column;
    gap: 20px;

    &::placeholder {
      color: #dadada
    }

    label {
      color: #dadada;
      font-size: 12px;
      margin: 5px;
    }

    .formTextarea {
      border-radius: 5px;
      min-height: 100px;
      max-height: 300px;

      &:disabled {
        background: hsl(0, 0%, 95%);
        color: #818181;
      }
    }

    .formInput {
      border-radius: 30px;

      & > :nth-child(3) {
        border-radius: 50px;
      }

      &:disabled {
        border: solid 1px hsl(0, 0%, 90%);
        background: hsl(0, 0%, 95%);
        color: #818181;
      }
    }


    .formSubmitButton {
      width: fit-content;
      background: $secondary;
      color: white;
      text-decoration: none;
      margin: auto;
    }
  }
}

.profileEdit::-webkit-scrollbar-thumb {
  background: $primary;
  border-radius: 10px;
}

.profileEdit::-webkit-scrollbar {
  width: 10px;
  background: $greyc;
  border-radius: 10px;
}

.disableText {
  color: #a9a9a9;
}

@media screen and (max-width: 767px) {
  .profileContainer {

    h3 {
      text-align: center;
    }
  }
  .profileMainData {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    margin-bottom: 30px;
  }

  .profileEdit {
    .formProfil {
      width: 90%;
    }

    .modifyButton {
      display: none;
    }
  }
}


@media screen and (max-width: 576px) {
  .profileEdit {
    width: 90%;
  }
}