@import "../variables";

.profileContainer {
  margin-bottom: 10px;
}

.title {
  text-align: center;
  margin-top: 4%;
  color: $primary;
}

.profileMainData {
  background: green;
  display: grid;
  grid-template-rows: minmax(auto, 447px) 1fr;
  grid-template-columns: 1fr auto;
  gap: 30px;
  justify-content: start;

}

.profileEdit {
  background: white;
  width: 100%;
  border-radius: 20px;
  overflow-y: auto;

}

.formProfil {
  display: flex;
  flex-direction: column;
  gap: 10px;

  .formInput {
    border-radius: 30px;
  }
}

