@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/mixins";
@import "~bootstrap/scss/variables";
@import "../variables";

.lessonContainer {
  overflow-y: auto;
  max-height: max(400px, calc(100vh - $navbarHeight - $footerHeight - 300px));
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

@include media-breakpoint-up("md") {
  .lessonContainer {
    padding-right: 15px;
  }
}
