@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/mixins";
@import "~bootstrap/scss/variables";
@import "../variables";

.lessonContainer {
  overflow-x: hidden;
  max-height: max(400px, calc(100vh - $navbarHeight - $footerHeight - 300px));
  padding-right: 30px;
}

.form {
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.filterButton {
  border: none;
  background-color: #f96f5d;
}

.inputGroup > * {
  border-radius: 25px;
}

@include media-breakpoint-up("md") {
  .inputGroup {
    width: 30%;
  }
}

@include media-breakpoint-down("md") {
  .inputGroup {
    margin-bottom: 5px;
  }
}

.formInput {
  border-top-left-radius: 25px !important;
  border-bottom-left-radius: 25px !important;
}
