@import "src/client/styles/variables";

.card {
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  padding: 20px;
  color: $grey;
  border: none;
  border-bottom: solid 1px black;
  border-radius: 0;

  .badge {
    padding: 0 2%;
    border-radius: 12px;
    background: $orange;
  }
}

.main {
  flex-grow: 1;
  padding-right: 20px;
  padding-left: 20px;
}

.header {
  display: flex;
  justify-content: space-between;
  margin: 0;
  border: none;
  background: green;

  & *:first-child {
    font-size: 20px;
    font-weight: bold;
    text-transform: capitalize;
  }

  div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 30%;

    .hashtag {
      font-size: 15px;
      font-weight: normal;
    }

    .avatar {
      width: 25px;
      height: 25px;
      border-radius: 100%;
      background: grey;
    }

    .authorLink {
      z-index: 5;
      background: #009fb7;
    }
  }
}

.subtitle {
  font-size: 15px;
  margin-top: 5px;
  color: $grey;
}
