@import "../variables";

.lessonHeader {
  margin-top: 2%;
  border-bottom: solid 1px black;
  padding-bottom: 2%;

  & > :first-child {
    text-align: center;

    .blockImage {
      border: solid 1px black !important;
      border-radius: 50%;
    }
    p {
      margin-bottom: 5%;
    }
  }

  .headerAction {
    display: flex;
    justify-content: space-between;
    text-align: center;
    flex-wrap: wrap;
    button {
      border-radius: 100%;
      padding: 0;
    }
  }

  h1 {
    font-size: 34px;
    color: $grey;
    font-weight: 400;
    margin-bottom: 3%;
  }

  h3 {
    text-align: center;
    color: $grey;
    font-weight: 300;
  }

  div {
    button {
      border-radius: 40px;
      //color: $white;
      border: none;
      width: auto;
      height: auto;
      padding: 2% 15%;
      font-size: 15px;
      font-weight: bold;
      margin: auto;
    }
  }
}

.lessonBlock2 {
  margin: 5% auto;
  padding: 2% 2% 2% 2%;
  border-radius: 2%;
  display: flex;
  justify-content: center;
  align-items: center;

  span {
    font-size: 20px;
  }
}

.lessonBlock3 {
  /* position: absolute;
  z-index: 1;
  bottom: 15%;
  backdrop-filter: blur(15px);*/

  h3 {
    color: $orange;
  }

  .forbiden {
    text-align: center;
  }

  .avantages {
    display: flex;
    justify-content: space-between;

    div {
      display: flex;
      width: 27%;
      justify-content: center;

      div {
        height: 60px;
      }

      h2 {
        width: 80%;
        color: $orange;
      }
    }
  }

  .callToAction {
    width: 100%;
    display: flex;

    .registerButton {
      border-radius: 40px;
      color: $white;
      border: none;
      width: 350px;
      height: 50px;
      background: $orange;
      font-size: 20px;
      font-weight: bold;
      margin: auto;

      .connexion:hover {
        color: white;
      }
    }
  }
}
