@import "../../../../node_modules/bootstrap/scss/functions";
@import "../../../../node_modules/bootstrap/scss/mixins";
@import "../../../../node_modules/bootstrap/scss/variables";

.lessonContainer {

  height: 500px;
  overflow-y: scroll;
  overflow-x: hidden;
  scrollbar-color: rebeccapurple green;
  scrollbar-width: thin;
}

.form {
  width: 100%;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap-reverse;
}

.filterButton {
  background-color: #F96F5D;
  border: none;
}

.inputGroup > * {
  border-radius: 25px;
}

@include media-breakpoint-up("md") {
  .inputGroup {
    width: 30%;
  }
}

@include media-breakpoint-down("md") {
  .inputGroup {
    margin-bottom: 5px;
  }
}

.formInput {
  border-top-left-radius: 25px !important;
  border-bottom-left-radius: 25px !important;
}
