@import "~bootstrap/scss/bootstrap-utilities";
@import "../variables";

.card {
  align-items: center;
  justify-content: space-between;

  margin: 0;
  padding: 20px;

  cursor: pointer;

  border: 1px solid lightgray;
  border-radius: 5px;
  background-color: white;
  transition: border-color 0.25s;

  &:hover {
    border-color: $primary;
  }
}

.draft {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='4' height='4' viewBox='0 0 4 4'%3E%3Cpath fill='%239C92AC' fill-opacity='0.2' d='M1 3h1v1H1V3zm2-2h1v1H3V1z'%3E%3C/path%3E%3C/svg%3E");
}

.column {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  justify-content: center;

  text-align: center;

  & > * {
    margin-top: 2px;
    margin-bottom: 2px;

    @include media-breakpoint-up(lg) {
      min-width: 100%;
    }
  }
}
.notShown{
  background: none;
  border: none;
}
.header {
  font-size: initial;
  font-weight: bold;
  text-transform: capitalize;
}

@include media-breakpoint-up(lg) {
  .subtitle,
  .header {
    text-align: start;
  }
}
