@import "~bootstrap/scss/bootstrap-utilities";
@import "../variables";

.card {
  position: relative; // necessary for the stretched-link to work
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  padding: 20px;
  cursor: pointer;

  border: 1px solid lightgray;
  border-radius: 5px;
  background-color: white;

  transition: border-color 0.25s;

  &:hover {
    border-color: $primary;
  }
}

.column {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  justify-content: center;

  text-align: center;

  & > * {
    margin-top: 2px;
    margin-bottom: 2px;

    @include media-breakpoint-up(md) {
      min-width: 100%;
    }
  }
}

.header {
  margin: 0;
  border: none;
  background-color: transparent;

  font-weight: bold;
  text-transform: capitalize;
}

.subtitle {
  margin-top: 5px;
}

.clickable {
  z-index: 5;
}
