@import "../variables";

.control {
  border-top-color: transparent;
  border-right-color: transparent;
  border-left-color: transparent;
}

.label {
  margin-top: 30px;
  font-size: 1.25em;
  font-variant: small-caps;
}

.uploadPageTitle {
  margin-top: 4%;
  text-align: center;
  color: $orange;
}
