@import "../../styles/variables";

// LANDING PAGE FOOTER
.footer_container {
  font-weight: bold;
  width: 100%;
  height: auto;
  color: white;
  background-color: $grbk;
}

.landing_footer_content {
  width: 70%;
  height: 100%;
  margin: auto;

  .landingFooterSocial {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 30%;
    margin: 5% 0;

    & > *:first-child {
      font-size: calc(20px + 1.5vmin);
    }

    .socialIconsLogos {
      display: flex;
      justify-content: space-between;
      width: 20%;
    }
  }

  .landingFooterContact {
    font-size: 1rem;
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    height: 65%;
    margin-bottom: 5%;
    text-align: center;

    & :nth-child(3) {
      align-self: center;
    }

    div {
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      .link {
        font-weight: bold;
      }
    }

    .spaceText {
      p {
        margin: 10% 0;
      }
    }
  }

  .landing_footer_bloc3 {
    padding: 1% 0;
    text-align: center;
  }
}

// AUTHENTICATED FOOTER

.authenticated {
  padding-left: $sidebarWidth;
}

.menu_footer_content {
  display: flex;
  justify-content: space-between;
  width: 70%;
  height: 100%;
  margin: auto;

  .menu_footer_bibliotheque,
  .menu_footer_profile,
  .menu_footer_link {
    margin: 3% 0;

    p {
      font-size: 22px;
    }

    a {
      margin-top: 4px;
      font-size: 16px;
      font-weight: lighter;
      display: block;
    }
  }
}

@media screen and (max-width: 767px) {
  // LANDING PAGE FOOTER
  .landing_footer_content {
    .landingFooterSocial {
      flex-direction: column;
      width: 85%;
      margin: 5% auto;

      h6 {
        font-size: 30px;
        text-align: center;
        margin-bottom: 5%;
      }

      .socialIconsLogos {
        display: flex;
        justify-content: space-between;
        width: 100%;
        margin: auto;
      }
    }

    .landingFooterContact {
      font-size: 15px;
      display: flex;
      flex-direction: column;
      height: auto;
      margin: auto;
      padding: 5% 0;
      text-align: center;

      div {
        a {
          margin-bottom: 3%;
        }
      }

      .spaceText {
        width: 50%;
        margin: auto;

        p {
          margin-top: 6%;
          margin-bottom: 3%;
        }
      }
    }
  }
  // AUTHENTICATED FOOTER
  .authenticated {
    padding-left: 0;
  }

  .menu_footer_content {
    display: flex;
    justify-content: space-between;
    width: 80%;
    height: 100%;
    margin: auto;

    .menu_footer_bibliotheque,
    .menu_footer_profile,
    .menu_footer_link {
      margin: 3% 0;

      p {
        font-size: 24px;
      }

      a {
        margin-top: 2px;
        font-size: 16px;
        font-weight: lighter;
        display: block;
      }
    }
  }
}

@media screen and (max-width: 576px) {
  // LANDING PAGE FOOTER
  .landing_footer_content {
    .landingFooterSocial {
      display: block;
      width: 70%;
      height: 30%;
      padding: 5% 0;

      h2 {
        font-size: 30px;
        margin-bottom: 10%;
        text-align: center;
      }

      .socialIconsLogos {
        display: flex;
        justify-content: space-between;
        width: 100%;
        margin: auto;
      }
    }

    .landingFooterContact {
      font-size: 15px;
      display: flex;
      flex-direction: column;
      height: auto;
      margin: auto;
      padding: 5% 0;
      text-align: center;

      div {
        a {
          margin-bottom: 3%;
        }
      }

      .spaceText {
        width: 70%;

        p {
          margin-top: 6%;
          margin-bottom: 3%;
        }
      }
    }
  }
  // AUTHENTICATED FOOTER
  .authenticated {
    padding-left: 0;
  }

  .menu_footer_content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;

    .menu_footer_bibliotheque,
    .menu_footer_profile,
    .menu_footer_link {
      margin: 3% 0;
      text-align: center;

      p {
        font-size: 22px;
      }

      a {
        margin-top: 4px;
        font-size: 16px;
        font-weight: lighter;
        display: block;
      }
    }
  }
}
