@import "../variables";

.cardWrapper {
  display: flex;
  height: calc(100vh - #{$navbarHeight});
  background-color: $secondary;
}

.cardContainer {
  position: relative;
  z-index: 1;
  z-index: 1;
  display: block;
  width: 400px;
  width: 400px;
  margin: auto;
  padding: 50px;
  border-radius: 15px;
  background-color: $white;
  box-shadow: 0px 5px 10px #00000015;

  h2 {
    margin-bottom: 2%;
    color: $orange;
  }

  .loginForm {
    display: block;
  }

  // TODO to put in a separate component for uniform inputs all over the app
  .loginInput {
    width: 100%;
    margin-top: 7px;
    margin-bottom: 14px;
    padding: 10px;
    border: none;
    border-radius: 20px;
    outline: none;
    background-color: $greyc;
    box-shadow: none;
  }

  .invisibleLabel {
    display: none;
  }

  .loginButtonSendInvalid {
    font-weight: 800;
    width: 100%;
    margin-top: 7px;
    margin-bottom: 7px;
    padding: 10px;
    text-align: center;
    color: $orange;
    border: none;
    border-radius: 20px;
    outline: none;
    background-color: $orangec;
    box-shadow: none;
  }

  // TODO to put in a separate component for uniform buttons all over the app
  .loginButton {
    font-weight: 800;
    width: 100%;
    margin-top: 7px;
    margin-bottom: 7px;
    padding: 10px;
    text-align: center;
    color: $white;
    border: none;
    border-radius: 20px;
    outline: none;
    background-color: $orange;
    box-shadow: none;
  }

  .loginButtonSendInvalid {
    color: $primary;
    background-color: $primary-light;
  }

  .loginValidated {
    color: $white;
    background-color: $primary;
  }

  .loginRedirectSignup {
    font-weight: 500;
    width: 100%;
    margin-top: 7px;
    margin-bottom: 7px;
    padding: 10px;
    text-align: center;
    color: $orange;

    a {
      &:hover {
        color: $orange;
      }
    }
  }

  .cancelIcon {
    font-size: 30px;
    position: absolute;
    top: 10px;
    right: 10px;
    width: 20px;
    height: 20px;
    cursor: pointer;
    color: $grey;
  }

  .loginIcons {
    position: absolute;
    z-index: 0;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    width: 100%;
    height: 100%;
  }
}
