@import "src/client/styles/variables";

.accueil_container {
  width: 100%;
  height: auto;
  background-color: $white;

  .bloc1 {
    width: 100%;
    height: 90vh;
    background-image: url('../../../../public/landingPage/background.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    z-index: 0;

    .block1Content {
      color: $white;
      margin: 0 0 0 5%;

      h1 {
        padding-top: 16%;
        margin-bottom: 15px;
        font-size: 70px;
      }

      p {
        margin-bottom: 30px;
        font-size: 35px;
      }

      button {
        border-radius: 40px;
        color: $white;
        border: none;
        width: 350px;
        height: 50px;
        background: $orange;
        font-size: 20px;
        font-weight: bold;
      }
    }
  }

  .bloc2 {
    width: 105%;
    background-color: $orange;
    transform: rotate(3deg);
    transform-origin: 0% 0%;
    margin-top: -6%;
    overflow-x: hidden;
    overflow-y: hidden;
    padding: 5% 0 5% 0;

    .block2Content {
      overflow: hidden;
      display: flex;
      width: 50%;

      // this padding fix the box border cutted
      padding-top: 1%;
      margin: auto auto auto auto;
    }

    .leftSide {
      width: 45%;
      transform: rotate(-6deg);
      margin: auto 1% 0 auto;


      .imessage {
        background-color: #fff;
        border: 1px solid #e5e5ea;
        border-radius: 25px;
        display: flex;
        flex-direction: column;
        max-width: 600px;
        padding: 0.5rem 1.5rem;
        margin-bottom: 4%;

        .queue {
          clip-path: ellipse(16px 16px at 1% 2%);
          background: $white;
          width: 50px;
          height: 50px;
          transform: scaleX(-100%);
          position: absolute;
          right: 14%;
          bottom: 22%;
        }

        .fromMe {
          font-size: 25px;
          background-color: $white;
          color: $orange;
          text-align: center;
          font-weight: bold;
          margin-bottom: 0;
        }
      }

      h2 {
        color: $white;
        font-size: 50px;
        text-align: center;
      }
    }

    .rightSide {
      width: 45%;
      transform: rotate(-1deg);
      margin: 0% auto auto auto;

      .imessage {
        background-color: #fff;
        border: 1px solid #e5e5ea;
        border-radius: 25px;
        display: flex;
        flex-direction: column;
        max-width: 600px;
        padding: 0.5rem 1.5rem;
        margin-top: 4%;

        .fromMe {
          font-size: 25px;
          background-color: $white;
          color: $orange;
          text-align: center;
          font-weight: bold;
          margin-bottom: 0;
        }
      }

      h2 {
        font-size: 50px;
        text-align: center;
        color: $white;
      }
    }

    .bottomSide {
      transform: rotate(-3deg);
      width: 30%;
      height: 100%;
      margin: 0 auto;

      p {
        width: 100%;
        height: auto;
        font-size: 40px;
        font-weight: bold;
        color: $white;
        text-align: center;
        margin: 6% 0 4% 0;
      }

      .choice {
        width: 100%;
        height: 75px;
        display: flex;
        border-radius: 20px;
        overflow-x: hidden;

        .yesPart {
          display: flex;
          background-color: $white;
          width: 50%;
          align-items: center;

          p {
            margin: 0;
            font-size: 30px;
            font-weight: bold;
            color: $orange;
          }
        }

        .noPart {
          display: flex;
          background-color: $bleu;
          width: 50%;
          align-items: center;

          p {
            margin: 0;
            font-size: 30px;
            font-weight: bold;
            color: $white;

          }
        }
      }

      .callToAction {
        width: 70%;
        display: flex;
        margin: 5% auto auto auto;
        background-color: $orange;
        border-radius: 30px;
        border: 2px solid $white;
        justify-content: center;

        .participate {
          padding: 10px;
          color: $white;
          font-size: 20px;
        }
      }
    }
  }
}

@media screen and (max-width: 1100px) {
  .accueil_container {
    .bloc1 {
      height: 50vh;

      .block1Content {
        width: 70%;
        margin: auto;
        text-align: center;


        h1 {
          font-size: 40px;
        }

        p {
          font-size: 20px;
        }
      }
    }

    .bloc2 {
      .block2Content {
        width: 80%;
        // this padding fix the box border cutted
        padding-top: 2%;

      }

      .leftSide {
        .imessage {
          .queue {
            display: none;
          }

          .fromMe {
            font-size: 20px;
          }
        }

        h2 {
          font-size: 35px;
        }
      }

      .rightSide {
        .imessage {
          .queue {
            display: none;
          }

          .fromMe {
            font-size: 20px;
          }
        }

        h2 {
          font-size: 35px;
        }
      }

      .bottomSide {
        width: 40%;

        p {
          font-size: 35px;
        }

        .choice {
          margin: auto;
          width: 60%;
          height: 45px;
          border-radius: 15px;

          .yesPart {
            display: flex;
            background-color: $white;
            width: 50%;
            align-items: center;

            p {
              margin: 0;
              font-size: 20px;
              font-weight: bold;
              color: $orange;
            }
          }

          .noPart {
            display: flex;
            background-color: $bleu;
            width: 50%;
            align-items: center;

            p {
              margin: 0;
              font-size: 20px;
              font-weight: bold;
              color: $white;
            }
          }
        }

        .callToAction {
          width: 50%;

          .participate {
            font-size: 20px;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 500px) {
  .accueil_container {
    width: 100%;
    height: auto;
    background-color: $white;

    .bloc1 {
      height: 90vh;
      display: flex;

      .block1Content {
        color: $white;
        margin: auto;

        h1 {
          font-size: 32px;
        }

        p {
          font-size: 20px;
        }

        button {
          width: 60%;
          height: 50px;
        }
      }
    }

    /*------------------------------------------ block 2----------------------------*/
    .bloc2 {
      width: 110%;

      .block2Content {
        width: 80%;
        margin: 7% auto;
      }

      .leftSide {
        .imessage {
          .queue {
            display: none;
          }

          .fromMe {
            font-size: 20px;
          }
        }

        h2 {
          font-size: 35px;
        }
      }

      .rightSide {
        .imessage {
          .queue {
            display: none;
          }

          .fromMe {
            font-size: 20px;
          }
        }

        h2 {
          font-size: 35px;
        }
      }


      .bottomSide {
        transform: rotate(-3deg);
        width: 70%;
        height: 100%;
        margin: 0 auto;

        p {
          width: 100%;
          height: auto;
          font-size: 32px;
          font-weight: bold;
          color: $white;
          text-align: center;
          margin: 6% 0 4% 0;
        }

        .choice {
          width: 100%;
          height: 50px;
          display: flex;
          border-radius: 15px;
          overflow-x: hidden;

          .yesPart {
            display: flex;
            background-color: $white;
            width: 50%;
            align-items: center;

            p {
              margin: 0;
              font-size: 27px;
              font-weight: bold;
              color: $orange;
            }
          }

          .noPart {
            display: flex;
            background-color: $bleu;
            width: 50%;
            align-items: center;

            p {
              margin: 0;
              font-size: 27px;
              font-weight: bold;
              color: $white;

            }
          }
        }

        .callToAction {

          width: 70%;
          display: flex;
          margin: 5% auto auto auto;
          background-color: $orange;
          border-radius: 30px;
          border: 2px solid $white;
          justify-content: center;

          .participate {
            padding: 10px;
            color: $white;
            font-size: 20px;

          }
        }
      }
    }
  }
}
