@import "src/client/styles/variables";

.accueil_container{
  width: 100vw;
  height: 130vh;
  .bloc1{
    width: 100%;
    height: 70%;
    background-image:url('../../../public/landingPage/background.png') ;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 0;
    .block1_Content{
      color: $white;
      margin: 16% 0 0 5% ;
      h1{
        margin-bottom: 15px;
        font-size: 70px;
      }
      p{
        margin-bottom: 30px;
        font-size: 35px;
      }
      button{
        border-radius: 40px;
        color: $white;
        border: none;
        width: 350px;
        height: 50px;
        background: $orange;
        font-size: 20px;
        font-weight: bold;
      }
    }
  }
  .bloc2 {
    width: 100%;
    height: 50%;
    background-color: $orange;
    transform: skewY(3deg);
    transform-origin: 0% 0%;
    margin-top: -5%;
    z-index: 1;
    .leftSide {
      .fromMe {
        align-self: flex-end;
        background-color: $white;
        color: $orange;
      }
      .fromMe::before {
        border-bottom-left-radius: 0.8rem 0.7rem;
        border-right: 1rem solid $orange;
        right: -0.35rem;
        transform: translate(0, -0.1rem);
      }
      .fromMe::after {
        background-color: $white;
        border-bottom-left-radius: 0.5rem;
        right: -40px;
        transform:translate(-30px, -2px);
        width: 10px;
      }
    }

  }

}
