.container{
  width: 100vw;
  height: 100px;
  background: white;
  display: flex;
  justify-content: space-between;
  z-index: 1;
}

.navigationLink{
  display: flex;
  align-items: center;
  li{
    list-style: none;
    img{
      width:10px;
      height:10%;
      border-radius: 40px;
    }
  }
}
.navigationLink:nth-child(1){
  margin: 0px 10px 0 10px;
}
.navigationLink:nth-child(2){
  margin: 0px 10px 0 10px;
}