@import "src/client/styles/variables";

.temoignageContainer {
  transform: rotate(-3deg);
  transform-origin: 0% 100%;
  width: 105%;
  height: 45vh;
  background-color: $bleu;
  color: white;
  overflow-x: hidden;
  overflow-y: hidden;

  .temoignageContent {
    transform: rotate(3deg);
    display: flex;
    width: 70%;
    height: 100%;
    margin: auto;
    align-items: center;

    .temoignageText {
      margin: auto;

      h2 {
        font-size: 33px;
        font-weight: bold;
        text-align: center;
        margin-bottom: 5%;
      }

      p {
        font-weight: 600;
        color: $white;
        font-size: 27px;
        text-align: center;
      }

      .temoignagePeopleName {
        margin-top: 5%;
        font-weight: 600;
        color: $white;
        font-size: 30px;
        text-align: end;
      }
    }

    .guillemetUp {
      height: 70%;
      display: flex;
      align-items: flex-start;
    }

    .guillemetDown {
      height: 70%;
      display: flex;
      align-items: flex-end;
    }
  }
}

@media screen and (max-width: 500px) {
  .temoignageContainer {
    height: 50vh;
    width: 110%;

    .temoignageContent {
      .temoignageText {
        h2 {
          font-size: 32px;
        }

        p {
          font-size: 20px;
        }

        .temoignagePeopleName {
          font-size: 25px;
        }
      }

      .guillemetUp {
        height: 70%;
        display: flex;
        align-items: flex-start;
      }

      .guillemetDown {
        height: 70%;
        display: flex;
        align-items: flex-end;
      }
    }
  }
}
