@import "src/client/styles/variables";

.temoignageContainer {
  overflow-x: hidden;
  overflow-y: hidden;
  width: 105%;
  height: 45vh;
  transform: rotate(-3deg);
  transform-origin: 0 100%;
  color: white;
  background-color: $bleu;

  .temoignageContent {
    display: flex;
    align-items: center;
    width: 70%;
    height: 100%;
    margin: auto;
    transform: rotate(3deg);

    .temoignageText {
      margin: auto;

      h2 {
        font-size: 33px;
        font-weight: bold;
        margin-bottom: 5%;
        text-align: center;
      }

      p {
        font-size: 27px;
        font-weight: 600;
        text-align: center;
        color: $white;

      }

      .temoignagePeopleName {
        font-size: 30px;
        font-weight: 600;
        margin-top: 5%;
        text-align: end;
        color: $white;
      }
    }

    .guillemetUp {
      display: flex;
      align-items: flex-start;
      height: 70%;
    }

    .guillemetDown {
      display: flex;
      align-items: flex-end;
      height: 70%;
    }
  }
}


@media screen and (max-width: 500px) {

  .temoignageContainer {
    width: 110%;
    height: 50vh;

    .temoignageContent {

      .temoignageText {

        h2 {
          font-size: 32px;
        }

        p {
          font-size: 20px;
        }

        .temoignagePeopleName {
          font-size: 25px;
        }
      }

      .guillemetUp {
        display: flex;
        align-items: flex-start;
        height: 70%;
      }

      .guillemetDown {
        display: flex;
        align-items: flex-end;
        height: 70%;
      }
    }
  }
}
